# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
htmlcov/
